<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Apontamento de Horas TimeSheet</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<!-- use the font -->
	<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body style="margin: 0; padding: 0;">

	<table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
		style="border-collapse: collapse;">
		<tr>
			<td align="center" bgcolor="#9FC9FF" style="padding: 40px 0 30px 0;"><img
				src="http://time.homineinfo.com.br/img/oie_transparent.png" alt="http://time.homineinfo.com.br/"
				style="display: block;" /></td>
		</tr>
		<tr>
			<td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
				<p th:text="${'Olá ' + nome}"></p>
				<p th:text="${'Identificamos que você ja esta ' + dias + ' dias sem apontar!'}"></p>
				<p>Sei que você esta com muitas coisas para fazer mas lembre-se de manter seus apontamentos em dia!!!</p>
				<p>Obrigado!</p>
			</td>
		</tr>
		<tr>
			<td bgcolor="#D9E0E9" style="padding: 30px 30px 30px 30px;"><pre>Atenciosamente Slave ROBOTO</pre>
				<p></p></td>
		</tr>
	</table>

</body>
</html>